#checkbox-tonggle-signin:checked ~.header-sub-signin {
  display: block;

}

.product:hover .description {
  display: none;
}
.product:hover .children {
  display: flex;
}
.children {
  transition: all 2s linear;
}
